
/*Grid*/
.ui-jqgrid {
	position: relative;
	border: 1px solid #828282;
	//border-right: 1px solid #828282;
	border: 1px solid rgba(0,0,0,.15);
	//border-right: 1px solid rgba(0,0,0,.15);
}
.ui-jqgrid .ui-jqgrid-view {
	position: relative;
	left:0;
	top: 0;
	padding: 0;
}
.ui-jqgrid .ui-common-table {
	border-width: 0px;
	border-style: none;
	border-spacing: 0px;
	padding: 0;
}

.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-jqgrid-pager {
	font-size:14px;
}
/* caption*/
.ui-jqgrid .ui-jqgrid-titlebar {
	height:28px;
	padding: .3em .2em .2em .3em;
	position: relative;
	//font-size: 12px;
	border-left: 0 none;
	border-right: 0 none;
	border-top: 0 none;
}
.ui-jqgrid .ui-jqgrid-caption {
	text-align: left;
}
.ui-jqgrid .ui-jqgrid-title {
	margin: .1em 0 .2em;
}
.ui-jqgrid .ui-jqgrid-titlebar-close {
	position: absolute;
	top: 50%;
	width: 19px;
	margin: -13px 8px 0 0;
	padding: 1px;
	height:18px;
	cursor:pointer;
}
.ui-jqgrid .ui-jqgrid-titlebar-close a {
	display: block;
}
.ui-jqgrid .ui-jqgrid-titlebar-close a:hover {
	padding: 0;
}
/* header*/

.ui-jqgrid tr.jqgfirstrow td,
.ui-jqgrid .ui-jqgrid-htable th,
.ui-jqgrid tr.jqgrow td,
.ui-jqgrid tr.jqgroup td {
	padding: 0 2px 0 8px;
}
.ui-jqgrid .ui-jqgrid-hdiv {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-left: 0 none !important;
	border-top : 0 none !important;
	border-right : 0 none !important;
}
.ui-jqgrid .ui-jqgrid-hbox {
	float: left; padding-right: 20px;
}
.ui-jqgrid .ui-jqgrid-htable {table-layout:fixed;margin:0;border-collapse: collapse;}
.ui-jqgrid .ui-jqgrid-htable th { height: 37px; text-align: left;}
.ui-jqgrid .ui-jqgrid-htable th div {overflow: hidden; position:relative;margin: .1em 0em .1em 0em;}
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {overflow: hidden;white-space: nowrap;border-top : 0 none;border-bottom : 0 none;}
.ui-th-column-header, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column-header {overflow: hidden;white-space: nowrap;text-align:center;border-top : 0 none;}
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {border-left : 0 none;}
.ui-th-rtl, .ui-jqgrid .ui-jqgrid-htable th.ui-th-rtl {border-right : 0 none;}
.ui-first-th-ltr {border-right: 1px solid; }
.ui-first-th-rtl {border-left: 1px solid; }
.ui-jqgrid .ui-th-div-ie {white-space: nowrap; zoom :1; }
.ui-jqgrid .ui-jqgrid-resize {height:30px !important;position: relative; cursor :e-resize;display: inline;overflow: hidden; border-left: 1px solid rgba(0,0,0,0.15) }
.ui-jqgrid .ui-grid-ico-sort {
	margin: 0 0 0 5px;
	overflow:hidden;
	position:absolute;
	right: 3px;
	font-size:12px;
}
.ui-jqgrid-sortable .s-ico .ui-state-disabled {
	display : none;
}
.ui-jqgrid .ui-ico-asc {
	margin-top:-3px;
	height:18px;
}
.ui-jqgrid .ui-ico-desc {
	margin-top:3px;
	margin-left:-1px;
	height:18px;
}
.ui-jqgrid .ui-i-asc {
	margin-top:0;
	height:20px;
}
.ui-jqgrid .ui-i-desc {
	margin-top:0;
	margin-left:12px;
	height:20px;
}
.ui-jqgrid .ui-single-sort-asc {
	margin-top:0;
	height:20px;
}
.ui-jqgrid .ui-single-sort-desc {
	margin-top:-1px;
	height:20px;
}
.ui-jqgrid .ui-jqgrid-sortable {
	cursor:pointer;
	height : 28px;
}
.ui-jqgrid-titlebar-close .ui-jqgrid-headlink {
	margin : 0;
	position : relative;
	//margin-top :-6px;
	//margin-left: -17px;
	//border : 0px;
	font-size: 12px;
}
.ui-jqgrid tr.ui-search-toolbar th { }
.ui-jqgrid .ui-search-table td.ui-search-clear { width:25px;}
.ui-jqgrid tr.ui-search-toolbar td > input { padding-right: 0px;}
.ui-jqgrid tr.ui-search-toolbar select {}
/* body */
.ui-jqgrid .ui-jqgrid-bdiv {position: relative; margin: 0; padding:0; overflow: auto; text-align:left;border-left: 1px solid rgba(0, 0, 0, 0.05);}
.ui-jqgrid .ui-jqgrid-btable {table-layout:fixed; margin:0; outline-style: none; border-collapse: collapse;}
.ui-jqgrid tr.jqgrow { outline-style: none; }
.ui-jqgrid tr.jqgroup { outline-style: none; }
.ui-jqgrid tr.jqgrow td, .ui-jqgrid tr.jqgroup td  {
	font-weight: normal; overflow: hidden; white-space: pre; height: 37px; ;
}
.ui-jqgrid tr.jqgfirstrow td { height:auto;}
//.ui-jqgrid tr.jqgroup td {font-weight: normal; overflow: hidden; white-space: pre; height: 22px;padding: 0 2px 0 2px;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid tr.jqfoot td {font-weight: bold; overflow: hidden; white-space: pre; height: 22px;padding: 0 2px 0 2px;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid tr.ui-row-ltr td {text-align:left;border-right-width: 0; border-right-color: inherit; border-right-style: solid;}
.ui-jqgrid tr.ui-row-rtl td {text-align:right;border-left-width: 1px; border-left-color: inherit; border-left-style: solid;}
.ui-jqgrid td.jqgrid-rownum { padding: 0 2px 0 2px; margin: 0; border: 0 none;}
.ui-jqgrid .ui-jqgrid-resize-mark { width:2px; left:0; background-color:#777; cursor: e-resize; cursor: col-resize; position:absolute; top:0; height:100px; overflow:hidden; display:none; border:0 none; z-index: 99999;}
/* footer */
.ui-jqgrid .ui-jqgrid-sdiv {position: relative; margin: 0;padding: 0; overflow: hidden; border-left: 0 none !important; border-top : 0 none !important; border-right : 0 none !important;}
.ui-jqgrid .ui-jqgrid-ftable {table-layout:fixed; margin-bottom:0;border-collapse: collapse;}
.ui-jqgrid tr.footrow td {font-weight: bold; overflow: hidden; white-space:nowrap; height: 30px;padding: 0 2px 0 8px; }
			//border-top-width: 1px; border-top-color: inherit; border-top-style: solid;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid tr.footrow-ltr td {/*text-align:left;border-right-width: 1px; border-right-color: inherit; border-right-style: solid;*/}
.ui-jqgrid tr.footrow-rtl td {/*text-align:right;border-left-width: 1px; border-left-color: inherit; border-left-style: solid;*/}
/* Pager*/
.ui-jqgrid .ui-jqgrid-pager { height: 39px; position: relative; white-space: nowrap;overflow: hidden;}
.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control {height:41px; position: relative;border-left: 0;border-bottom: 0;border-top: 0; }
.ui-jqgrid .ui-pg-table {position: relative; padding: 1px 0; width:auto; margin: 0;}
.ui-jqgrid .ui-pg-table td {font-weight:normal; vertical-align:middle; padding:0px 1px;}
.ui-jqgrid .ui-pg-button  { height:auto}
.ui-jqgrid .ui-pg-button span { display: block; margin: 2px; float:left;}
.ui-jqgrid .ui-pg-button:hover { padding: 0;}
.ui-jqgrid .ui-state-disabled:hover {padding:0px;}
.ui-jqgrid .ui-pg-input,
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-input {
	height:14px;
	width: auto;
	//font-size:.9em;
	margin:0;
	line-height: inherit;
	border: none;
	padding: 3px 2px
}
.ui-jqgrid .ui-pg-selbox,
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-selbox {
	font-size:.9em;
	line-height:inherit;
	display:block;
	height:19px;
	margin: 0;
	padding: 3px 0px;
	border:none;
}
.ui-jqgrid .ui-separator {
	border-left: 2px solid #ccc ;
}
.ui-jqgrid .ui-paging-info {
	font-weight: normal;
	height:auto;
	margin-top:3px;
	margin-right:4px;
	display: inline;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div,
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {
	padding:1px 0;
	float:left;
	position:relative;
	line-height: 20px;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button,
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-button {
	cursor:pointer;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div  a.ui-ico,
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div  a.ui-ico {
	float:left;
	margin: 2px;
	width:18px;}
.ui-jqgrid td input, .ui-jqgrid td select, .ui-jqgrid td textarea { margin: 0;}
.ui-jqgrid td textarea {width:auto;height:auto;}
.ui-jqgrid .ui-jqgrid-toppager {border-left: 0 none !important;border-right: 0 none !important; border-top: 0 none !important; margin: 0 !important; padding: 0 !important; position: relative;white-space: nowrap;overflow: hidden;}
//.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {padding:1px 0;float:left;position:relative; line-height: 20px; margin-right:3px;}
//.ui-jqgrid .ui-jqgrid-toppager .ui-pg-button { cursor:pointer; }
//.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div  span.ui-icon {float:left;margin: 2px; width:18px;}
/*subgrid*/
.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {display: block;}
.ui-jqgrid .ui-subgrid {margin:0;padding:0; width:100%;}
.ui-jqgrid .ui-subgrid table {table-layout: fixed;}
.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {height:18px;border-right-width: 1px; border-right-color: inherit; border-right-style: solid;border-bottom-width: 1px; border-bottom-color: inherit; border-bottom-style: solid;}
.ui-jqgrid .ui-subgrid td.subgrid-data {border-top:  0 none !important;}
.ui-jqgrid .ui-subgrid td.subgrid-cell {border-width: 0 0 1px 0;}
.ui-jqgrid .ui-th-subgrid {height:20px;}
/* loading */
.ui-jqgrid .loading {position: absolute; top: 45%;left: 45%;width: auto;z-index:101;padding: 6px; margin: 5px;text-align: center;font-weight: bold;display: none;border-width: 2px !important; font-size:11px;}
.ui-jqgrid .jqgrid-overlay {display:none;z-index:100;}
/* IE * html .jqgrid-overlay {width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');} */
* .jqgrid-overlay iframe {position:absolute;top:0;left:0;z-index:-1;}
/* IE width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}*/
/* end loading div */
/* toolbar */
.ui-jqgrid .ui-userdata {border-left: 0 none;    border-right: 0 none;	height : 27px;overflow: hidden;	}
/*Modal Window */
.ui-jqdialog { font-size:11px !important; }
.ui-jqdialog { display: none; width: 300px; position: absolute; padding: .2em; font-size:11px; overflow:visible;}
.ui-jqdialog .ui-jqdialog-titlebar { padding: .3em .2em; position: relative; height:20px;}
.ui-jqdialog .ui-jqdialog-title { margin: .3em .2em .2em .2em;}
.ui-jqdialog .ui-jqdialog-titlebar-close { position: absolute;  top: 50%; width: 19px; margin: -12px 0 0 0; padding: 1px; height: 18px; cursor:pointer;}

.ui-jqdialog .ui-jqdialog-titlebar-close span { display: block; margin: 1px; }
.ui-jqdialog .ui-jqdialog-titlebar-close:hover, .ui-jqdialog .ui-jqdialog-titlebar-close:focus { padding: 0; }
.ui-jqdialog-content, .ui-jqdialog .ui-jqdialog-content { border: 0; padding: .3em .2em; background: none; height:auto;}
.ui-jqdialog .ui-jqconfirm {padding: .4em 1em; border-width:3px;position:absolute;bottom:10px;right:10px;overflow:visible;display:none;height:80px;width:220px;text-align:center;}
.ui-jqdialog>.ui-resizable-se { bottom: -3px; right: -3px}
.ui-jqgrid>.ui-resizable-se { bottom: -3px; right: -3px }
/* end Modal window*/
/* Form edit */
.ui-jqdialog-content .FormGrid {
	margin: 0;
	overflow:auto;
	position:relative;
}
.ui-jqdialog-content .EditTable {
	width: 100%;
	margin-bottom:0;
}
.ui-jqdialog-content .DelTable {
	width: 100%;
	margin-bottom:0;
}
.EditTable td input, .EditTable td select, .EditTable td textarea {
	margin: 0;
	left: 0;
	top:0;
}
.EditTable td textarea { width:auto; height:auto;}
.ui-jqdialog-content td.EditButton {
	text-align: right;
//	border-top: 0 none;
//	border-left: 0 none;
//	border-right: 0 none;
//	padding-bottom:5px;
//	padding-top:5px;
}
.ui-jqdialog-content td.EditButton .ui-btn {
	margin-top : 6px;
	margin-bottom: 6px;
}
.ui-jqdialog-content td.navButton {
//	text-align: center;
//	border-left: 0 none;
//	border-top: 0 none;
//	border-right: 0 none;
//	padding-bottom:5px;
//	padding-top:5px;
}
.ui-jqdialog-content input.FormElement {
	//padding: .5em .3em; margin-bottom: 3px
}
.ui-jqdialog-content select.FormElement {
	//padding:.3em; margin-bottom: 3px;
}
.ui-jqdialog-content .data-line {
	//padding-top:.1em;border: 0 none;
}
.ui-input-text {
	margin: 0 0;
	padding: 0 0;
	border: 0px none;
}
.ui-jqdialog-content .CaptionTD {
	//vertical-align: middle;border: 0 none; padding: 2px;white-space: nowrap;
}
.ui-jqdialog-content .DataTD {
	height : 37px !important;
	//padding: 2px; border: 0 none; vertical-align: top;
}
.EditTable .FormData td { height:37px !important;}
.EditTable .ui-input-text {
	width: 97%;
	float: left;
}
.ui-jqdialog-content .form-view-data {white-space:pre}
.fm-button { height: 18px; display: inline-block; margin:2px 4px 0 0; padding: .6em .5em .2em .5em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fm-button-icon-left { padding-left: 1.9em; }
.fm-button-icon-right { padding-right: 1.9em; }
.fm-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; position: absolute; top: 50%; margin-top: -8px; }
.fm-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; position: absolute; top: 50%; margin-top: -8px;}
#nData, #pData {
/*	float: left; margin:3px;padding: 0; width: 15px; */
}
.ViewTable {
	border-width: 0;
	border-style: none;
	border-spacing: 1px;
	padding: 4px;
	table-layout: fixed;
}
.ViewTable .CaptionTD, .ViewTable .DataTD {padding : 4px;}
/* End Eorm edit */
/*cell edit*/
.ui-jqgrid .edit-cell {
	padding: 4px 0px 4px 4px;
}
.ui-jqgrid .selected-row, div.ui-jqgrid .selected-row td {font-style : normal;border-left: 0 none;}
/* inline edit actions button*/
.ui-inline-del.ui-state-hover span, .ui-inline-edit.ui-state-hover span,
.ui-inline-save.ui-state-hover span, .ui-inline-cancel.ui-state-hover span {
    margin: -1px;
}
.ui-inline-del, .ui-inline-cancel {
    margin-left: 8px;
}

.ui-jqgrid .inline-edit-cell {
	padding: 4px 0px 4px 4px;
}
/* Tree Grid */
.ui-jqgrid .tree-wrap {float: left; position: relative;height: 18px;white-space: nowrap;overflow: hidden;}
.ui-jqgrid .tree-minus {position: absolute; height: 18px; width: 18px; overflow: hidden;}
.ui-jqgrid .tree-plus {position: absolute;	height: 18px; width: 18px;	overflow: hidden;}
.ui-jqgrid .tree-leaf {position: absolute;	height: 18px; width: 18px;overflow: hidden;}
.ui-jqgrid .treeclick {cursor: pointer;}
/* moda dialog */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;}
/*	 width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}*/
.ui-jqgrid-dnd tr td {border-right-width: 1px; border-right-color: inherit; border-right-style: solid; height:20px}
/* RTL Support */
.ui-jqgrid .ui-jqgrid-caption-rtl {text-align: right;}
.ui-jqgrid .ui-jqgrid-hbox-rtl {float: right; padding-left: 20px;}
.ui-jqgrid .ui-jqgrid-resize-ltr {float: right;margin: -2px -2px -2px 0;}
.ui-jqgrid .ui-jqgrid-resize-rtl {float: left;margin: -2px 0 -1px -3px;}
.ui-jqgrid .ui-sort-rtl {left:0;}
.ui-jqgrid .tree-wrap-ltr {float: left;}
.ui-jqgrid .tree-wrap-rtl {float: right;}
.ui-jqgrid .ui-ellipsis {-moz-text-overflow:ellipsis;text-overflow:ellipsis;}

/* Toolbar Search Menu */
.ui-search-menu {
	position: absolute;
}
.ui-search-menu.ui-menu .ui-menu-item {  }
.ui-search-menu.ui-menu .ui-menu-item a { }
.ui-search-menu.ui-menu .ui-menu-item a.g-menu-item:hover {  }
.ui-jqgrid .ui-search-table {
	width:100%;
}
.ui-jqgrid .ui-search-table .ui-search-oper {
	width:20px;
}
a.g-menu-item, a.soptclass, a.clearsearchclass {
	cursor: pointer;
	padding-left:7px;
	padding-right: 7px;
}
.ui-jqgrid .ui-jqgrid-view input,
.ui-jqgrid .ui-jqgrid-view select,
.ui-jqgrid .ui-jqgrid-view textarea,
.ui-jqgrid .ui-jqgrid-view button {
    //font-size: 11px;
}
.ui-jqgrid .ui-scroll-popup {

}
.searchFilter .ui-search-table th .ui-select .ui-btn
{
	padding-top:3px;
	padding-bottom : 3px;
	padding-left:3px;
}
.searchFilter .ui-search-table th .ui-select {
	float:left;
}

.searchFilter .ui-search-table th .ui-btn
{
	padding-top:6px;
	padding-bottom : 6px;
	padding-left : 3px;
	margin-left : 6px;
}
.searchFilter .ui-search-table th .ui-btn {
	float:left;
}
.searchFilter .ui-search-table td.columns .ui-select .ui-btn,
.searchFilter .ui-search-table td.operators .ui-select .ui-btn
{
	padding-top:3px;
	padding-bottom : 3px;
	padding-right : 32px;
	padding-left:3px;
}

.searchFilter .ui-search-table td .ui-btn
{
	padding-top:6px;
	padding-bottom : 6px;
	margin-left : 6px;
	padding-left:3px;
}

.ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover > .ui-separator {
	margin-left: 3px;
	margin-right: 3px;
}

.ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover > .ui-pg-div > .ui-icon {
	margin-left: 3px;
	margin-right: 3px;
}
.ui-corner-top {
	-webkit-border-top-left-radius: .3125em;
	border-top-left-radius: .3125em;
	-webkit-border-top-right-radius: .3125em;
	border-top-right-radius: .3125em;
}
.ui-corner-bottom {
	-webkit-border-bottom-left-radius: .3125em;
	border-bottom-left-radius: .3125em;
	-webkit-border-bottom-right-radius: .3125em;
	border-bottom-right-radius: .3125em;
}
.ui-jqgrid .ui-jqgrid-highlight {
	background-color: 		#3388cc /*{a-active-background-color}*/;
	border-color:	 		#3388cc /*{a-active-border}*/;
	color: 					#fff /*{a-active-color}*/;
	text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #005599 /*{a-active-shadow-color}*/;
}
.ui-jqgrid .ui-jqgrid-hover {
	//background: #ebe9e9;
}
/**
 *
 * Pull down styles
 *
 */

div[id^=pullDown], div[id^=pullUp] {
	height:40px;
	line-height:40px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
}
div[id^=pullDown] .pullDownIcon, div[id^=pullUp] .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url('pull-icon@2x.png') 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;
}
div[id^=pullDown] .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
div[id^=pullUp] .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

div[id^=pullDown].gridflip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

div[id^=pullUp].gridflip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

div[id^=pullDown].loading1 .pullDownIcon, div[id^=pullUp].loading1 .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading1;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
/*
.iScroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.pullDown, .pullUp {
	//background:#fff;
	height:37px;
	line-height:37px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	font-size:14px;
	color:#888;
	margin-top:0;
	white-space: nowrap;
	font-size:14px;
}

.pullDown.scrolledUp{
	margin-top:-51px;	// Should match the totalt height (i.e. height + paddings + borders) of #pullDown set above
}
.pullDown .pullDownLabel, .pullUp .pullUpLabel  {
	margin: 0 5px;
}
.pullDown .pullDownIcon, .pullUp .pullUpIcon  {
	display: inline-block;
	width:40px; height:37px;
	background:url(pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:37px 80px; background-size:37px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;
	vertical-align: middle;
	margin: 0 5px;
}
.pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}
.pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}
.pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
*/
.ui-pg-div .ui-select a {
	padding-bottom: 5px;
	padding-top: 5px;
}
.popupheader {
	text-align:center;
	padding:8px;
}
